{% extends 'base.html' %}

{% block content %} 
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus dolorum incidunt quibusdam dolorem et sed tenetur eius eligendi earum! Corrupti atque provident eius exercitationem mollitia pariatur hic totam quaerat incidunt?
        Quos ea perferendis sapiente, magni veniam vel fuga! Obcaecati repellat quibusdam eaque quam, eveniet repellendus natus iste earum fugit impedit voluptatibus debitis optio cumque temporibus aliquam, deleniti alias! Voluptatum, provident.
        Minima, quia fuga! Non reprehenderit voluptatum debitis officia earum soluta unde repellat ad doloremque itaque, magnam quisquam cum eveniet nostrum dignissimos veniam labore quidem corporis dolorum quas sequi omnis tempora?
        Perferendis ut nesciunt alias quas consequatur a amet dolore quisquam veritatis distinctio, tempora ipsa beatae, corporis, natus debitis aliquid nostrum id animi inventore. Distinctio quos, accusamus voluptatem adipisci nemo nostrum.
        Mollitia est explicabo provident dolorum dolores optio distinctio non error iusto itaque inventore laudantium commodi reiciendis dignissimos, cumque nesciunt ad assumenda. Excepturi aliquam delectus assumenda magnam quos accusamus hic a?
        </p>

        <div class="text-center">
            <a href="/signin" class="btn btn-secondary"> signin</a>
            <a href="/signup" class="btn btn-secondary"> signup</a>
        </div>
    </section>
</main>
{% endblock %}