{% extends 'base.html' %}

{% block content %} 
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Todo App</h1>
        <p>
            This Django app allows you to manage your tasks easily and efficiently. With it, you can create new tasks, assign a title, description, and set a due date. Additionally, you will have the option to edit any task at any time, whether it's to update its information or make changes to its details. If a task is no longer needed or has been completed, you can easily delete it. You can also mark tasks as completed, helping you keep a clear record of your achievements. In summary, this app provides you with all the tools you need to keep your tasks organized and ensure that nothing is left undone.
        </p>
        <div class="text-center">
            <a href="/signin" class="btn btn-secondary"> signin</a>
            <a href="/signup" class="btn btn-secondary"> signup</a>
        </div>
    </section>
</main>
{% endblock %}